
html {
    scroll-behavior: smooth;
}
.hero-container{
    background-color: var(--color-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    gap: 20px;
    color: var(--color-5);
}
.hero-container h2{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 6rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}
.hero-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 550px;
}
.hero-title p{
    font-family: 'Inter', sans-serif;
    padding-left: 6px;
    font-size: 1.1rem;
    font-weight: 500;
}

.hero-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-buttons a{
    background-color: var(--color-2);
    color: var(--color-5);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}
.hero-buttons a:hover{
    background-color: var(--color-3);
}


/* GALERÃA  */
.gallery-container{
    background-color: var(--color-secundario);
    color: var(--color-1);
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    padding: 10%;
    box-sizing: border-box;
    gap: 20px;
}
.gallery-container h2{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.gallery-grid img{
    vertical-align: middle;
    display: inline-block;
    transition: all 0.3s ease;
}
.gallery-grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-grid > div > img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.gallery-grid > div > img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.gallery-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
}

.enlarged {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    padding: 10%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: none;
    cursor: pointer;
}

.enlarged > img {
    width: auto !important;
    max-height: 100%;
    object-fit: none;
    display: block;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.25);
}
.enlarged > img:hover {
    transform: none !important;
    cursor: default !important;    
}

@media screen and (min-width: 600px){
    .card-tall{
        grid-row: span 2 / auto;
    }
    
    .card-wide {
        grid-column: span 2 / auto;
    }  
}


/* FORMULARIO */
.form-container{
    background-color: var(--color-5);
    color: var(--color-1);
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    padding: 35px 10% 10px 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.form-container h2{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    /* center */
    text-align: center;
    margin: 20px 0px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    /* background-color: var(--color-4);
    border-radius: 15px; */
    padding: 40px 60px;
    width: fit-content;
}

.form-container form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.form-container form div label{
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: start;
    color: var(--color-primario);
}

.form-container form div input{
    width: 40vw;
    border: 1px solid var(--color-3);
    border-radius: 5px;
    background-color: var(--color-1);
    box-shadow: 0 0 2px var(--color-secundario);
    padding: 5px;
    font-size: 1rem;
}
.form-container form div textarea{
    width: 40vw;
    border: 1px solid var(--color-3);
    border-radius: 5px;
    background-color: var(--color-1);
    box-shadow: 0 0 2px var(--color-secundario);
    resize: none;
    font-size: 1rem;
    padding: 5px;
}
.form-container form div input:focus {
    outline: none;
    border: 1px solid var(--color-2);
    box-shadow: 0 0 2px var(--color-2);
}
.form-container form div textarea:focus {
    outline: none;
    border: 1px solid var(--color-2);
    box-shadow: 0 0 2px var(--color-2);
}

.form-container form button{
    /* submit button */
    background-color: var(--color-2);
    color: var(--color-5);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    width: 120px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.form-container form button:hover{
    background-color: var(--color-3);
}

#submit-msg {
    display: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 600px){
    .hero-container{
        flex-direction: column;
        gap: 30px;
        padding-bottom: 10px;
    }
    .hero-container h2{
        font-size: 4rem;
    }
    .gallery-grid > div > img {
        max-height: 70%;
    }
    .enlarged > img {
        width: auto !important;
        max-width: 80%;
        max-height: 50%;
    }


    .form-container{
        min-height: 70vh;
    }
    .form-container h2{
        font-size: 3rem;
    }
    .form-container form{
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
    .form-container form div{
        width: 100%;
    }
    .form-container form div input{
        width: 100%;
    }
    .form-container form div textarea{
        width: 100%;
    }


}

